<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop</title>
</head>

<body>
    <div class="main-container">
        <p class="logo-text">Drop</p>
        <div class="content">Build Your Each Success with Drop</div>
        <div class="nav">
            <a class="home" style="color: #001AFF;" href="">Home</a>
            <a class="project" href="/learn">Learn</a>
            <a class="design" href="">Design</a>
            <a class="about" href="">About</a>
            <a class="blog" href="/Docs">Docs</a>
        </div>

        <div class="profile">
            <% profile.forEach(function(user){%>
                <img src="data:image/png;base64,<%= user.user_profile %>" alt="">
                <% }); %>
        </div>
        <div class="front-img">
            <img src="Assets/digital-workflow.png" alt="">
        </div>
        <div class="start-btn"></div>
        <p class="btn-text">Let's start</p>
        <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="#ffffff"></rect><g transform="translate(460.20639554581936 280.26098171477435)"><path d="M74 -74.2C95 -53 110.5 -26.5 123.8 13.3C137 53 148.1 106.1 127.1 131.7C106.1 157.4 53 155.7 7.2 148.5C-38.7 141.3 -77.3 128.6 -108.3 103C-139.3 77.3 -162.7 38.7 -158.8 3.9C-154.9 -30.9 -123.8 -61.8 -92.8 -82.9C-61.8 -104.1 -30.9 -115.5 -2.2 -113.4C26.5 -111.2 53 -95.4 74 -74.2" opacity="71%" fill="#001AFF"></path></g></svg>
        <svg id="box" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
        M 0, 47
        C 0, 0 0, 0 47, 0
        S 94, 0 94, 47
            94, 94 47, 94
            0, 94 0, 47
    " fill="#001AFF"opacity="71%" transform="rotate(
        37,
        100,
        100
    ) translate(
        53
        53
    )"></path></svg>
        <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="#ffffff"></rect><g transform="translate(460.20639554581936 280.26098171477435)"><path d="M74 -74.2C95 -53 110.5 -26.5 123.8 13.3C137 53 148.1 106.1 127.1 131.7C106.1 157.4 53 155.7 7.2 148.5C-38.7 141.3 -77.3 128.6 -108.3 103C-139.3 77.3 -162.7 38.7 -158.8 3.9C-154.9 -30.9 -123.8 -61.8 -92.8 -82.9C-61.8 -104.1 -30.9 -115.5 -2.2 -113.4C26.5 -111.2 53 -95.4 74 -74.2" opacity="71%" fill="#001AFF"></path></g></svg>

        <svg id="box3" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
                M 0, 47
                C 0, 0 0, 0 47, 0
                S 94, 0 94, 47
                    94, 94 47, 94
                    0, 94 0, 47
            " fill="#001AFF"opacity="71%" transform="rotate(
                37,
                100,
                100
            ) translate(
                53
                53
            )"></path></svg>

        <svg id="box4" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
                M 0, 47
                C 0, 0 0, 0 47, 0
                S 94, 0 94, 47
                    94, 94 47, 94
                    0, 94 0, 47
            " fill="#001AFF"opacity="71%" transform="rotate(
                37,
                100,
                100
            ) translate(
                53
                53
            )"></path></svg>
        <svg id="visual2" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="#ffffff"></rect><g transform="translate(447.7409892378705 287.10520498315896)"><path d="M137.7 -107.6C158.2 -84.2 140.5 -28.1 125 24C109.5 76.1 96.2 124.1 65.2 141.2C34.3 158.3 -14.3 144.5 -52.2 121.3C-90 98.1 -117.2 65.5 -131.7 23.8C-146.2 -17.9 -148.2 -68.8 -124.1 -93.1C-100.1 -117.3 -50 -114.9 4.3 -118.3C58.6 -121.8 117.3 -131 137.7 -107.6" fill="none" stroke="#001AFF" opacity="20%" stroke-width="6"></path></g></svg>
    </div>
</body>

</html>