<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/learn.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop-Learn</title>
</head>

<body class="bg">
    <div id="container" class="main-container">
        <p class="logo-text">Drop</p>
        <div style="z-index: 8;" class="search-box">
            <input type="text" class="search-input" placeholder="Search..">
            <button style="z-index: 8;" class="search-button">
            <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="nav">
            <a class="home" href="/home">Home</a>
            <a class="project" style="color: #001AFF;" href="">Learn</a>
            <a class="design" href="">Design</a>
            <a class="about" href="">About</a>
            <a class="blog" href="/Docs">Docs</a>
        </div>
        <div class="profile">
            <% profile.forEach(function(user){%>
                <img src="data:image/png;base64,<%= user.user_profile %>" alt="">
                <% }); %>
        </div>
        <div id="video_container" class="video-container">
            <% users.forEach(function(user){%>
                <div id="card" class="card">
                    <iframe width="1280" height="720" src="<%= user.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p><button><%= user.course_name %> </a></button></p>
                </div>
                <% }); %>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>

</html>