<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop-LearnerRegister</title>
</head>

<body>
    <div class="main-container">
        <p class="logo">Drop</p>
        <p class="quote">Create Your Success with Drop Now !</p>
        <button class="loginasadmin"><a href="adminRegister">Login as Mentor</a></button>
        <div class="login-container">
            <p class="head">Drop</p>
            <form method="post" enctype="multipart/form-data">
                <input class="inputs" required placeholder="Name" name="new_name" type="text">
                <input class="inputs" required placeholder="Email" name="new_email" type="email">
                <input class="inputs" required placeholder="Password" name="new_password" type="password">
                <label class="inputs" required for="file">Profile</label><input id="file" name="profile" placeholder="Profile" type="file">
                <% if(typeof error !== 'undefined' && error.length>0){%>
                    <p style="color: red; text-align: center;">
                        <%= error %>
                    </p>
                    <% }%>
                        <input class="inputs" placeholder="Password" value="Register" type="submit">
            </form>
            <a href="/" class="acc">Already have an Account</a>
        </div>


        <svg class="box1" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
            M 0, 47
            C 0, 0 0, 0 47, 0
            S 94, 0 94, 47
                94, 94 47, 94
                0, 94 0, 47
        " fill="#001AFF" opacity="10%" transform="rotate(
            37,
            100,
            100
        ) translate(
            53
            53
        )"></path></svg>

        <svg class="box2" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
            M 0, 47
            C 0, 0 0, 0 47, 0
            S 94, 0 94, 47
                94, 94 47, 94
                0, 94 0, 47
        " fill="#001AFF" opacity="10%" transform="rotate(
            37,
            100,
            100
        ) translate(
            53
            53
        )"></path></svg>

        <svg class="box3" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="
            M 0, 47
            C 0, 0 0, 0 47, 0
            S 94, 0 94, 47
                94, 94 47, 94
                0, 94 0, 47
        " fill="#001AFF" opacity="10%" transform="rotate(
            37,
            100,
            100
        ) translate(
            53
            53
        )"></path></svg>
    </div>
</body>

</html>