<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/addcourse.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop-UrlConverter</title>
</head>

<body class="bg">
    <div class="container">
        <div class="calc">
            <input class="field" placeholder="Paste Your Embeded Code" id="con">
            <button class="convert" onclick="covert()">convert</button>
            <br>
            <input class="field" id="output">
            <button class="convert" onclick="Copy()">Copy</button>
            <br>
        </div>

    </div>
    <script src="js/app.js"></script>
</body>

</html>